html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 80vw;
    height: fit-content;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
}

.cardzin {
    width: 340px;
    height: 240px;
/*    background-color: lightblue;*/
}

.card-fundo {
    background-color: aliceblue;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
    height: 420px;
}

.media-title{
    display:grid;
    text-align:center;
    font-weight: 600;
    font-size: 16px;
}

.video {
    max-width: 325px;
    max-height: 325px;
}
.imagem {
    max-width: 325px;
    max-height: 325px;
}
.audio {
    max-width: 325px;
    max-height: 325px;
}

.card-info {
    width: 340px;
    padding: 10px;
    display: inline-block;

}