html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 80vw;
    background-color: #2f1d58;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
}

.card {
    width: 340px;
    height: 240px;
    margin: 5px;
    background-color: lightblue;
}

.card-fundo {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    height: 300px;
}

.card-media {
    max-width: 280px; 
    max-height: 160px
}

.card-hovered {
    z-index: 100;
    width: 340px;
    height: 240px;
    background-color: rgb(30 25 25 / 0,93);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: all linear 1s
}

.card:hover .card-hovered {
    opacity: 1;
}