html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.central{
    width: 70vw;
    background-color:lightgrey;
    border-color:grey;
    margin:auto;
    padding:2vw;
}

.galeria-img-wrapper{
    width: 180px;
    height: 180px;
    background-color:white;
    border: solid 2px dimgrey;
    border-radius: 10px;
}

.galeria-img{

    width: 97%;
    height: 97%;
    object-fit: contain;
    border-radius: 10px;
}

.galeria-estrutura{
    margin: 10px 10px 10px 10px
}