@model Galeria2804.Models.Imagem

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Imagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Imagem Armazenada
        </dt>
        <dd class = "col-sm-10">
            @switch (Model.arquivoType)
                    {
                        case ".mp4":

                            <video class="video" controls>
                                <source src="~/arq/@Model.arquivoName" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            break;

                        case ".webm":

                            <video class="video" controls>
                                <source src="~/arq/@Model.arquivoName" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                            break;

                        case ".ogg":
                            <video class="video" controls>
                                <source src="~/arq/@Model.arquivoName" type="video/ogg">
                                Your browser does not support the video tag.
                            </video>
                            break;

                        case ".mp3":

                            <audio class="audio" controls>
                                <source src="~/arq/@Model.arquivoName" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            break;

                        case ".wav":

                            <audio class="audio" controls>
                                <source src="~/arq/@Model.arquivoName" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                            break;

                        default:
                            <img class="imagem" src="~/arq/@Model.arquivoName" />
                            break;

                    }<br />
        </dd>
        <dt class = "col-sm-2">
            Tamanho do arquivo
        </dt>
        <dd class = "col-sm-10">
            @{
                int tamanho = (int)(Model.arquivoTam / 1000);
                string exibir = tamanho.ToString() + "kB";
            }
            @exibir
        </dd>
        <dt class = "col-sm-2">
            Extensão do arquivo (formato do arquivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arquivoType)
        </dd>
        <dt class = "col-sm-2">
            Descrição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arquivoDescricao)
        </dd>
    </dl>
    

    <form asp-action="Delete"  enctype="multipart/form-data" method="post">
        <input type="hidden" asp-for="arquivoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
