@model IEnumerable<Galeria2804.Models.Imagem>
@{
    ViewData["Title"] = "Galeria";
}

<h1>Galeria</h1>


<div class="central">
    <div class="row">
        @foreach (var item in Model) {
            <div class="col-2 galeria-estrutura">
                <div>
                    <div class="galeria-img-wrapper">
                        <img src="~/imgs/@item.imagemName" class="galeria-img" />
                    </div>
                    <div>
                        <span>
                            @Html.DisplayFor(modelItem => item.imagemDescricao)
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>