@model IEnumerable<Galeria2804.Models.Imagem>
@{
    ViewData["Title"] = "Galeria";
}

<h1>Galeria</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                Imagem
            </th>
            <th>
                Tamanho do Arquivo
            </th>
            <th>
                Tipo do arquivo
            </th>
            <th>
                Descrição do arquivo
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/arq/@item.arquivoName" style="width=100px" />
            </td>
            <td>
                    @{
                        int tamanho = (int)(item.arquivoTam / 1000);
                        string exibir = tamanho.ToString() + " kB";
                    }
                    @exibir
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arquivoType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arquivoDescricao)
            </td>
            
        </tr>
}
    </tbody>
</table>
